
      
      
      body {
        font-family: "Sofia", sans-serif;
      }
      body { 
            background-color: #F0FFFF;

        }
        hr {
            
            border-style: dotted none none;
            border-width: 5px;
            border-color: grey;
            width : 15%;
        }
        
       img {
         height : 800px;
         border-radius: 50px;
         position: relative;
       }

       h3 {
        color:   #191970;
        font-family: "  Monaco", monospace;
       }

       h1 {
        color :   #191970;
        font-family: 'Oleo Script Swash Caps', cursive;
        font-size: 40px;
       }
    
    
    